{% extends "layout.twig" %}

{% block titel %}- Restaurant {% endblock %}

{% block main %}
  <h3>Notre Restaurant en image</h3>
  <section class="restaurant">
    <p>Découvrez notre restaurant:<br>
    Deux salles climatisées, 90 places disponibles, décoration typiquement marocaine, Service soigné, danse orientale tous les vendredis soirs.</p>
    <article class="">
      <img src="{{app.request.basePath}}/img/galerie/1.jpg" alt="">
      <img src="{{app.request.basePath}}/img/galerie/2.jpg" alt="">
      <img src="{{app.request.basePath}}/img/galerie/3.jpg" alt="">
      <img src="{{app.request.basePath}}/img/galerie/4.jpg" alt="">
      <img src="{{app.request.basePath}}/img/galerie/5.jpg" alt="">
      <img src="{{app.request.basePath}}/img/galerie/6.jpg" alt="">
      <img src="{{app.request.basePath}}/img/galerie/7.jpg" alt="">
      <img src="{{app.request.basePath}}/img/galerie/8.jpg" alt="">
      <img src="{{app.request.basePath}}/img/galerie/9.jpg" alt="">
    </article>
  </section>

{% endblock %}
