<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{app.request.basePath}}/CSS/stylesheet.css">
  <link href="{{app.request.basePath}}/CSS/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dr+Sugiyama" rel="stylesheet">
  <title>Le Marrakech - admin</title>
</head>
<body class="admin">
  <section>
    <table>
      <h1>Reservation</h1>
      <tr>
        <th>Date</th>
        <th>Heure</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Mail</th>
        <th>NB.convives</th>
        <th>Telephone</th>
        <th>Messages</th>
      </tr>
      <tr>
        {% for booking in bookings %}
        <td>{{ booking.BookingDate }}</td>
        <td>{{ booking.BookingHour }}</td>
        <td>{{ booking.LastName }}</td>
        <td>{{ booking.FirstName }}</td>
        <td>{{ booking.Email }}</td>
        <td>{{ booking.NumberOfSeats }}</td>
        <td>{{ booking.Phone }}</td>
        <td>{{ booking.Message }}</td>
      </tr>
        {% endfor %}
    </table>
  </section>
</body>
</html>
